body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #9B2EFD 0%, #592AFC 100%);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.container {
    z-index: 0;
    margin: auto;
}

.card {
    margin: auto;
    height: auto;
    width: 85vw;
    max-width: 500px;
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
}

#avatar-card {
    margin: auto;
    width: 60%;
}

.swal2-height-auto {
    height: 100vh;
    z-index: 2;
}

.question-button {
    margin-top: 1em;
}